<form action="/login" method="POST">
    <p>User name</p><input name="username" type="text" />
    <p>Password</p><input name="password" type="password" />
    <input type="submit" value="Logon">
</form>